@import "variables/fonts";

body {
	margin: 0;
	color: $font-color;
	font-family: $primary-font-stack;
	font-weight: lighter;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 400;
	color: $heading-font-color;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: url("../assets/images/background-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 200px;
	}
}
main {
	padding: 50px 0 0;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}

/* Aside */

nav {
	float: left;
	position: fixed;
	height: 50px;
	margin: 0 auto;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			position: relative;
			a {
				text-decoration: none;
				display: block;
				padding: 15px;
				font-family: $primary-font-stack;
				line-height: 20px;
				margin-bottom: -1px;
				box-shadow: 0;
				&:hover,
				&:active {
					background: $header;
					text-decoration: none;
					color: $main;
				}
			}
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
footer {
	text-align: center;
	padding: 40px;
}
